* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    position: relative;

}

header {
    position: fixed;
    margin-bottom: 20px;
    border-bottom: 8px solid rgb(231, 200, 168);
}

header,
footer {
    width: 100%;
    height: 60px;
    background-color: #455C56;
    line-height: 60px;
}

li {
    display: inline;
    position: relative;
    margin-right: 20px; 
}

.nav {
    text-align: right;
}
a {
    text-decoration: none;
    color:white;
}